/* Стили для страницы graphics */
@use 'variables' as *;

.Ronin-graphics {
	padding: 60px 0;
	.Ronin-container {
		.Ronin-graphics__title {
		}
		.Ronin-graphics__download {
			@include reg-18;
			color: $red;
			display: flex;
			align-items: center;
			gap: 20px;
			margin-top: 7px;
			svg {
			}
			&:hover {
			}
			&:active {
			}
			&:focus {
			}
		}
		.Ronin-graphics__list {
			margin-top: 35px;
			.Ronin-graphics__item {
				border-bottom: 1px solid $bg1;
				&:first-child {
					border-top: 1px solid $bg1;
				}
				.Ronin-graphics__wrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;
					cursor: pointer;
					.Ronin-graphics__item-name {
						padding: 20px 0;
						@include reg-24;
						font-size: 26px;
					}
				}
				.Ronin-graphics__graphic-list {
					overflow: hidden;
					max-height: 0;
					.Ronin-graphics__graphic-item {
						&:not(:last-child) {
							margin-bottom: 20px;
						}
						.Ronin-graphics__graphic-item-city {
						}
						.Ronin-graphics__graphic-item-date {
						}
					}
				}
			}

			.Ronin-graphics__item.Ronin-open-marketplace {
				border-bottom: 1px solid $bg1;
				&:first-child {
					border-top: 1px solid $bg1;
				}
				.Ronin-graphics__wrapper {
					display: flex;
					justify-content: space-between;
					align-items: center;
					.Ronin-graphics__item-name {
						padding: 20px 0;
						@include reg-24;
						font-size: 26px;
					}
					svg {
						rotate: 45deg;
					}
				}
				.Ronin-graphics__graphic-list {
					max-height: none;
					overflow: visible;
					margin: 35px 0;
				}
			}
		}
	}
}
