/* Стили для страницы sale */
@use 'variables' as *;

.Ronin-sale {
	padding: 60px 0;
	.Ronin-container {
		.Ronin-sale-wrapper {
			display: flex;
			background: $white;
			align-items: center;
			padding: 40px;
			padding-left: 0;
			border-radius: 10px;
			@media (max-width: 768px) {
				flex-direction: column;
				align-items: center;
			}
			@media (max-width: 480px) {
				padding-right: 15px;
			}
			.Ronin-sale__image {
			}
			.Ronin-sale__content {
			}
			.Ronin-sale__content-title {
				text-align: center;
				@media (max-width: 480px) {
					text-align: left;
				}
			}
			.Ronin-sale__content-sales {
				display: flex;
				justify-content: space-between;
				margin-top: 30px;
				padding-left: 40px;
				@media (max-width: 480px) {
					flex-direction: column;
					padding-left: 15px;
					gap: 24px;
				}
				.Ronin-sale__content-sale {
					@media (max-width: 480px) {
						display: flex;
						align-items: center;
						justify-content: space-between;
					}
				}
				.Ronin-sale__content-sale-name {
					@include reg-18;
					@media (max-width: 480px) {
						font-size: 16px;
					}
				}
				.Ronin-sale__content-priceContainer {
					text-align: center;
					margin-top: 24px;
					position: relative;
					@media (max-width: 480px) {
						width: 100px;
						margin-top: 0;
					}

					.Ronin-sale__content-priceContainer-price {
						@include bold-32;
						@media (max-width: 480px) {
							font-size: 26px;
						}
					}
					.Ronin-sale__content-priceContainer-ticket {
						position: absolute;
						top: 10px;
						right: 50%;
						transform: translate(50%, 0);
						z-index: 10;
					}
					.Ronin-sale__content-priceContainer-sale {
						z-index: 100;
						@include bold-32;
						color: $white;
						position: relative;
						@media (max-width: 480px) {
							font-size: 26px;
						}
					}
				}
			}
		}
	}
}
