<section class="Ronin-faq">
	<div class="Ronin-container">
		<h2 class="Ronin-faq__title">Частые вопросы</h2>
		<ul class="Ronin-faq__list">
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">📦 На какие маркетплейсы осуществляется доставка?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					Мы возим товар на склады Wildberries, Ozon, Яндекс Маркет, Золотое яблоко, Lamoda, Детский мир,
					ВсеИнструменты.ру, Мегамаркет, ВкусВилл, Магнит Маркет, М.Видео, Эльдорадо, Самокат по всей России. 
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">📅 График доставки и список адресов складов маркетплейсов</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					Ознакомиться с графиком доставки и списком доступных адресов для доставки на склады маркетплейсов
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">💰 Как рассчитать стоимость доставки до маркетплейса?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					Для доставки доступны все тарифы. Стоимость перевозки без учета скидки вы можете самостоятельно рассчитать
					в калькуляторе. Итоговая цена с учетом скидки отобразится при оформлении заказа в личном кабинете
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">📝 Как оформить доставку до маркетплейса?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					При оформлении заказа в личном кабинете необходимо выбрать «До маркетплейса», далее в выпадающем списке
					выбрать нужный вам маркетплейс и адрес склада. При необходимости вы можете оформить дополнительные опции к
					заказу (например, упаковка отправления)
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">🗓️ Как согласовать дату доставки на маркетплейс?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					При оформлении заказа в личном кабинете вы можете указать желаемую дату доставки в поле "Комментарий" и/или
					направить соответствующую информацию нам на почту
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">🔐 Как оформить пропуск на склад маркетплейса?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					В день доставки на склад маркетплейса вам на почту будут отправлены данные водителя для оформления пропуска
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">🔧 Оказываете ли вы услуги по подготовке груза для отправки в маркетплейсы?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<p class="Ronin-faq__answer">
					Да, мы оказываем услуги по палетированию, переупаковке короба, перемаркировке. Ознакомиться более подробно вы
					можете в тарифной карте
				</p>
			</li>
			<li class="Ronin-faq__item">
				<div class="Ronin-faq-wrapper">
					<p class="Ronin-faq__question">❌ Что делать, если маркетплейс отказал в приеме груза?</p>
					<svg width="24" height="24" class="Ronin-plus">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-faq__answer">
					<li>Мы бесплатно возвращаем груз на ближайший терминал</li>
					<li>Специалисты связываются с вами, помогают устранить все замечания, согласовывают новую дату доставки</li>
					<li>Дополнительно уточнить причину отказа в приемке груза, просто напишите нам</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
