<section class="Ronin-graphics">
	<div class="Ronin-container">
		<h2 class="Ronin-graphics__title">График доставки и адреса складов маркетплейсов</h2>
		<a href="" class="Ronin-graphics__download"
			>Скачать полный список
			<svg width="24" height="24">
				<use xlink:href="assets/svg/sprite.svg#icon-arrow-right-red"></use>
			</svg>
		</a>
		<ul class="Ronin-graphics__list">
			<li class="Ronin-graphics__item open-marketplace">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
			<li class="Ronin-graphics__item">
				<div class="Ronin-graphics__wrapper">
					<p class="Ronin-graphics__item-name">Wildberries</p>
					<svg width="24" height="24">
						<use xlink:href="assets/svg/sprite.svg#icon-plus"></use>
					</svg>
				</div>
				<ul class="Ronin-graphics__graphic-list">
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Артем</p>
						<p class="Ronin-graphics__graphic-item-date">пн, ср, пт - ул. Солнечная, д. 46, скл. 4</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Астрахань (Солянка)</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, пт - п. Пригородный, ш. Николаевское, д. 2В</p>
					</li>
					<li class="Ronin-graphics__graphic-item">
						<p class="Ronin-graphics__graphic-item-city">Барнаул</p>
						<p class="Ronin-graphics__graphic-item-date">вт, ср, чт - ул. Попова, д. 179Б</p>
					</li>
				</ul>
			</li>
		</ul>
	</div>
</section>
