<section class="Ronin-heroDelivery">
	<div class="Ronin-container">
		<div class="Ronin-heroDelivery__wrapper">
			<div class="Ronin-heroDelivery__content">
				<h1 class="Ronin-heroDelivery__title">
					ОТПРАВЛЯЙТЕ<br />
					ВЫГОДНО ДО СКЛАДОВ МАРКЕТПЛЕЙСОВ
				</h1>
				<p class="Ronin-heroDelivery__subtitle"><span>скидка 35%</span> на два месяца</p>
				<button class="Ronin-heroDelivery__btn">Получить скидку</button>
				<p class="Ronin-heroDelivery__subtext">
					*Предложение действительно в течение 60 дней для новых клиентов юридических лиц и ИП, прошедших регистрацию на
					странице акции для тарифов DPD Standard, DPD Economy, DPD Optimum и DPD 18:00. Предложение не является
					офертой. Реклама. АО «ДПД РУС», ИНН 7713215523
				</p>
			</div>
			<img src="../assets/images/hero-delivery-image.png" alt="" class="Ronin-heroDelivery__image" />
			<img src="../assets/images/hero-delivery-image2.png" alt="" class="Ronin-heroDelivery__image-mobile" />
			<p class="Ronin-heroDelivery__subtext-mobile">
				*Предложение действительно в течение 60 дней для новых клиентов юридических лиц и ИП, прошедших регистрацию на
				странице акции для тарифов DPD Standard, DPD Economy, DPD Optimum и DPD 18:00. Предложение не является офертой.
				Реклама. АО «ДПД РУС», ИНН 7713215523
			</p>
		</div>
	</div>
</section>
