<section class="Ronin-howDelivery">
	<div class="Ronin-container">
		<h2 class="Ronin-howDelivery__title">Как доставить товар на склад маркетплейса</h2>
		<a href="" class="Ronin-howDelivery__subtitle"
			>Подробная инструкция
			<svg width="24" height="24">
				<use xlink:href="assets/svg/sprite.svg#icon-arrow-right-red"></use>
			</svg>
		</a>
		<ul class="Ronin-howDelivery__list">
			<h2 class="Ronin-howDelivery__title-list">Как работает FBO:</h2>
			<li class="Ronin-howDelivery__item">
				<div class="Ronin-howDelivery__icons">
					<svg width="50" height="50">
						<use xlink:href="assets/svg/sprite.svg#icon-clock"></use>
					</svg>
					<svg width="32" height="32" class="Ronin-arrow">
						<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
				<p class="Ronin-howDelivery__text">Забронируйте время доставкив ЛК маркетплейса</p>
			</li>
			<li class="Ronin-howDelivery__item">
				<div class="Ronin-howDelivery__icons">
					<svg width="50" height="50">
						<use xlink:href="assets/svg/sprite.svg#icon-document-text"></use>
					</svg>
					<svg width="32" height="32" class="Ronin-arrow">
						<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
				<p class="Ronin-howDelivery__text">Оформите заказ на доставку в ЛК </p>
			</li>
			<li class="Ronin-howDelivery__item">
				<div class="Ronin-howDelivery__icons">
					<svg width="50" height="50">
						<use xlink:href="assets/svg/sprite.svg#icon-box-tick"></use>
					</svg>
					<svg width="32" height="32" class="Ronin-arrow">
						<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
				<p class="Ronin-howDelivery__text">Упакуйте и промаркируйте товар</p>
			</li>
			<li class="Ronin-howDelivery__item">
				<div class="Ronin-howDelivery__icons">
					<svg width="50" height="50">
						<use xlink:href="assets/svg/sprite.svg#icon-group"></use>
					</svg>
					<svg width="32" height="32" class="Ronin-arrow">
						<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
				<p class="Ronin-howDelivery__text">Передайте грузна доставку</p>
			</li>
			<li class="Ronin-howDelivery__item">
				<div class="Ronin-howDelivery__icons">
					<svg width="50" height="50">
						<use xlink:href="assets/svg/sprite.svg#icon-user-square"></use>
					</svg>
					<svg width="32" height="32" class="Ronin-arrow">
						<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
					</svg>
				</div>
				<p class="Ronin-howDelivery__text">Введите данные водителя в ЛК маркетплейса</p>
			</li>
			<li class="Ronin-howDelivery__item">
				<div class="Ronin-howDelivery__icons">
					<svg width="50" height="50">
						<use xlink:href="assets/svg/sprite.svg#icon-house-2"></use>
					</svg>
				</div>
				<p class="Ronin-howDelivery__text">Отслеживайте прием товара на склад</p>
			</li>
		</ul>
		<div class="Ronin-btn-wrapper">
			<button class="Ronin-howDelivery__btn">Заключить договор</button>
		</div>
	</div>
</section>
