<section class="Ronin-plan">
	<div class="Ronin-container">
		<h2 class="Ronin-plan__title">Схема работы с маркетплейсами</h2>
		<p class="Ronin-plan__subtitle">выбирайте удобную для вас</p>
		<div class="Ronin-plan__tabs">
			<h2 class="Ronin-plan__tab active FBO">FBO</h2>
			<h2 class="Ronin-plan__tab FBS">FBS</h2>
		</div>
		<div class="Ronin-plan__tabDisplays">
			<div class="Ronin-plan__tabDisplay-fbo active-plan">
				<h2 class="Ronin-plan__tabDisplay-fbo-title">Как работает FBO:</h2>
				<div class="Ronin-plan__tabDisplay-fbo-contentContainer">
					<div class="Ronin-plan__tabDisplay-fbo-contentContainer-content">
						<ul class="Ronin-plan__tabDisplay-fbo-processList">
							<li class="Ronin-plan__tabDisplay-fbo-processItem">
								<div class="Ronin-plan__tabDisplay-fbo-processItem-images">
									<svg width="50" height="50">
										<use xlink:href="/assets/svg/sprite.svg#icon-box"></use>
									</svg>
									<svg width="32" height="32" class="Ronin-arrow-plan">
										<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
									</svg>
								</div>
								<p class="Ronin-plan__tabDisplay-fbo-processItem-text">
									Продавец подготавливает товар для отправкив маркетплейс
								</p>
							</li>
							<li class="Ronin-plan__tabDisplay-fbo-processItem">
								<div class="Ronin-plan__tabDisplay-fbo-processItem-images">
									<svg width="50" height="50">
										<use xlink:href="assets/svg/sprite.svg#icon-group"></use>
									</svg>
									<svg width="32" height="32" class="Ronin-arrow-plan">
										<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
									</svg>
								</div>
								<p class="Ronin-plan__tabDisplay-fbo-processItem-text">
									Доставляем товарна склад маркетплейсав указанную дату
								</p>
							</li>
							<li class="Ronin-plan__tabDisplay-fbo-processItem">
								<div class="Ronin-plan__tabDisplay-fbo-processItem-images">
									<svg width="50" height="50">
										<use xlink:href="assets/svg/sprite.svg#icon-house-2"></use>
									</svg>
								</div>
								<p class="Ronin-plan__tabDisplay-fbo-processItem-text">
									Хранение товара и доставку до конечного покупателя осуществляет маркетплейс
								</p>
							</li>
						</ul>
						<img
							src="../assets/images/phone.png"
							alt=""
							class="Ronin-plan__tabDisplay-fbo-contentContainer-image-mobile"
						/>

						<h2 class="Ronin-plan__tabDisplay-fbo-pluses-title">Ваши преимущества:</h2>
						<ul class="Ronin-plan__tabDisplay-plusesList">
							<li class="Ronin-plan__tabDisplay-pluses-item">
								Доставляйте ваш <br />
								товар во все маркетплейсы<br />
								России
							</li>
							<li class="Ronin-plan__tabDisplay-pluses-item">
								Отслеживайте доставку<br />
								24/7 онлайн в личном кабинете
							</li>
							<li class="Ronin-plan__tabDisplay-pluses-item">
								Получайте уведомления об этапах доставки<br />
								вашего груза
							</li>
						</ul>
					</div>
					<img src="../assets/images/phone.png" alt="" class="Ronin-plan__tabDisplay-fbo-contentContainer-image" />
				</div>
			</div>
			<div class="Ronin-plan__tabDisplay-fbs">
				<h2 class="Ronin-plan__tabDisplay-fbs-title">Как работает FBS:</h2>
				<ul class="Ronin-plan__tabDisplay-fbs-processList">
					<li class="Ronin-plan__tabDisplay-fbs-processItem">
						<div class="Ronin-plan__tabDisplay-fbs-processItem-icons">
							<svg width="50" height="50">
								<use xlink:href="assets/svg/sprite.svg#icon-house-2"></use>
							</svg>
							<svg width="32" height="32" class="Ronin-arrow-plan">
								<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
							</svg>
						</div>
						<p class="Ronin-plan__tabDisplay-fbs-processItem-text">Продавец хранит товар на собственном складе</p>
					</li>
					<li class="Ronin-plan__tabDisplay-fbs-processItem">
						<div class="Ronin-plan__tabDisplay-fbs-processItem-icons">
							<svg width="50" height="50">
								<use xlink:href="assets/svg/sprite.svg#icon-box"></use>
							</svg>
							<svg width="32" height="32" class="Ronin-arrow-plan">
								<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
							</svg>
						</div>
						<p class="Ronin-plan__tabDisplay-fbs-processItem-text">
							По факту продажи товара продавец упаковывает товар для отправки в маркетплейс
						</p>
					</li>
					<li class="Ronin-plan__tabDisplay-fbs-processItem">
						<div class="Ronin-plan__tabDisplay-fbs-processItem-icons">
							<svg width="50" height="50">
								<use xlink:href="assets/svg/sprite.svg#icon-group"></use>
							</svg>
							<svg width="32" height="32" class="Ronin-arrow-plan">
								<use xlink:href="assets/svg/sprite.svg#icon-arrow-right"></use>
							</svg>
						</div>
						<p class="Ronin-plan__tabDisplay-fbs-processItem-text">
							Доставляем товар на склад или распределительный центр маркетплейса
						</p>
					</li>
					<li class="Ronin-plan__tabDisplay-fbs-processItem">
						<div class="Ronin-plan__tabDisplay-fbs-processItem-icons">
							<svg width="50" height="50">
								<use xlink:href="assets/svg/sprite.svg#icon-user-tick"></use>
							</svg>
						</div>
						<p class="Ronin-plan__tabDisplay-fbs-processItem-text">
							Доставку до конечного покупателя осуществляет маркетплейс
						</p>
					</li>
				</ul>
				<h2 class="Ronin-plan__tabDisplay-fbo-pluses-title">Ваши преимущества:</h2>

				<ul class="Ronin-plan__tabDisplay-plusesList">
					<li class="Ronin-plan__tabDisplay-pluses-item">
						Доставляйте ваш <br />
						товар во все маркетплейсы<br />
						России
					</li>
					<li class="Ronin-plan__tabDisplay-pluses-item">
						Отслеживайте доставку<br />
						24/7 онлайн в личном кабинете
					</li>
					<li class="Ronin-plan__tabDisplay-pluses-item">
						Получайте уведомления об этапах доставки<br />
						вашего груза
					</li>
				</ul>
			</div>
		</div>
		<div class="Ronin-plan__moreOptions">
			<p class="Ronin-plan__moreOptions-title">Дополнительные опции:</p>
			<ul class="Ronin-plan__moreOptions-list">
				<li class="Ronin-plan__moreOptions-item">• Перемаркировка</li>
				<li class="Ronin-plan__moreOptions-item">• Переупаковка короба</li>
				<li class="Ronin-plan__moreOptions-item">• Палетирование</li>
				<li class="Ronin-plan__moreOptions-item">• Предоставление поддона</li>
			</ul>
		</div>
	</div>
</section>
