<section class="Ronin-pluses">
	<div class="Ronin-container">
		<h2 class="Ronin-pluses__title">Преимущества Скиф-Логистик при доставке в маркетплейсы</h2>
		<p class="Ronin-pluses__subtitle">Меньше издержек и финансовых рисков для вашего бизнеса</p>
		<ul class="Ronin-pluses__list">
			<li class="Ronin-pluses__item">
				<p class="Ronin-pluses__item-tittle">Точность доставки 96%</p>
				<p class="Ronin-pluses__item-description">никаких затрат в случае нарушения сроков***</p>
			</li>
			<li class="Ronin-pluses__item">
				<p class="Ronin-pluses__item-tittle">Осуществляем контроль</p>
				<p class="Ronin-pluses__item-description">соответствия груза требованиям маркетплейса</p>
			</li>
			<li class="Ronin-pluses__item">
				<p class="Ronin-pluses__item-tittle">Бесплатное ожидание</p>
				<p class="Ronin-pluses__item-description">в очереди на разгрузку ваших товаров</p>
			</li>
		</ul>
		<p class="Ronin-pluses__subtext">*** В случае неуспешной доставки по вине DPD, повторная доставка – за наш счет</p>
		<div>
			<button class="Ronin-pluses__button">Пройти регистрацию</button>
		</div>
	</div>
</section>
