<section class="Ronin-price">
	<div class="Ronin-container">
		<h2 class="Ronin-price__title">Стоимость и сроки доставки</h2>
		<p class="Ronin-price__subtitle">Подготовьтесь к высокому сезону выгодно! Мы снизили цены специально для вас</p>
		<table class="Ronin-price__table">
			<th class="Ronin-price__table-title">Направление</th>
			<th class="Ronin-price__table-title">
				Стоимость доставки терминал- <br />
				склад маркетплейса, 50 кг<br />
				(физический вес)**
			</th>
			<th class="Ronin-price__table-title">
				Срок доставки,<br />
				рабочих дней
			</th>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Москва — Подольск</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 016 ₽</td>
				<td class="Ronin-price__table-item">2 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Москва — Коледино</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 016 ₽</td>
				<td class="Ronin-price__table-item">2 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Москва — Ростов-на-Дону</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 111 ₽</td>
				<td class="Ronin-price__table-item">1-3 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Санкт-Петербург — Тверь</p>
					<img
						src="../assets/images/ozon.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">1 649 ₽</td>
				<td class="Ronin-price__table-item">1-3 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Санкт-Петербург — Коледино</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 040 ₽</td>
				<td class="Ronin-price__table-item">1-2 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Санкт-Петербург — Пушкино</p>
					<img
						src="../assets/images/ozon.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 040 ₽</td>
				<td class="Ronin-price__table-item">1-2 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Екатеринбург — Пушкино</p>
					<img
						src="../assets/images/ozon.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 164 ₽</td>
				<td class="Ronin-price__table-item">2-4 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Екатеринбург — Подольск</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 164 ₽</td>
				<td class="Ronin-price__table-item">2-4 дня</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Пятигорск — Краснодар</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">1 473 ₽</td>
				<td class="Ronin-price__table-item">4-5 дней</td>
			</tr>
			<tr class="Ronin-price_table-row">
				<td class="Ronin-price__table-item">
					<p class="Ronin-price__table-item-city">Новосибирск — п. Случайный</p>
					<img
						src="../assets/images/wildberris.png"
						alt=""
						width="32px"
						height="32px"
						class="Ronin-price__table-item-image"
					/>
				</td>
				<td class="Ronin-price__table-item">2 356 ₽</td>
				<td class="Ronin-price__table-item">7-8 дней</td>
			</tr>
		</table>
		<div class="Ronin-price__mobTable">
			<div class="Ronin-price__mobTable-names">
				<p class="Ronin-price__mobTable-name">
					Стоимость доставки терминал-склад маркетплейса, 50 кг (физический вес)**
				</p>
				<p class="Ronin-price__mobTable-name">Срок доставки,рабочих дней</p>
			</div>
			<ul class="Ronin-price__mobTable-list">
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Москва — Подольск</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Москва — Коледино</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Москва — Ростов-на-Дону</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Санкт-Петербург — Тверь</p>
						<img src="../assets/images/ozon.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Санкт-Петербург — Коледино</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Санкт-Петербург — Пушкино</p>
						<img src="../assets/images/ozon.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Екатеринбург — Пушкино</p>
						<img src="../assets/images/ozon.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Екатеринбург — Подольск</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Пятигорск — Краснодар</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
				<li class="Ronin-price__mobTable-item">
					<div class="Ronin-price__mobTable-path">
						<p class="Ronin-price__mobTable-pathName">Новосибирск — п. Случайный</p>
						<img src="../assets/images/wildberris.png" alt="" class="Ronin-price__mobTable-icon" />
					</div>
					<div class="Ronin-price__mobTable-wrapper">
						<p class="Ronin-price__mobTable-price">2 016 ₽</p>
						<p class="Ronin-price__mobTable-deadline">2 дня</p>
					</div>
				</li>
			</ul>
		</div>
		<p class="Ronin-price__comment">*Стоимость популярных маршрутов с учетом скидки 35%, с НДС и ОЦ**</p>
		<div class="Ronin-price__button-container">
			<button class="Ronin-price__btn">Рассчитать стоимость доставки</button>
			<p class="Ronin-price__subbutton">без учёта скидки 35%</p>
		</div>
	</div>
</section>
