<section class="Ronin-proccess">
	<div class="Ronin-container">
		<div class="Ronin-proccsess__title-wrapper">
			<h2 class="Ronin-proccess__title">Доставка до маркетплейсов</h2>
			<img src="../assets/images/wildberris.png" alt="" class="Ronin-process__title-icon" />
			<img src="../assets/images/ozon.png" alt="" class="Ronin-process__title-icon" />
			<img src="../assets/images/market.png" alt="" class="Ronin-process__title-icon" />
		</div>
		<p class="Ronin-process__subtitle">Продавайте! Доставку и сервис доверьте Скиф-Логистик</p>
		<ul class="Ronin-process__cards">
			<li class="Ronin-process__card">
				<p class="Ronin-process__card-text">
					Заберем груз от двери<br />
					или на терминале<br />
					по всей России
				</p>
				<img src="../assets/images/delivery4.png" alt="" class="Ronin-process__card-image" />
			</li>
			<li class="Ronin-process__card">
				<p class="Ronin-process__card-text">
					Выделенная линия<br />
					поддержки оперативно<br />
					решит ваши вопросы
				</p>
				<img src="../assets/images/delivery1.png" alt="" class="Ronin-process__card-image" />
			</li>
			<li class="Ronin-process__card">
				<p class="Ronin-process__card-text">
					Бесплатный возврат<br />
					непринятого груза<br />
					обратно на склад доставки
				</p>
				<img src="../assets/images/delivery2.png" alt="" class="Ronin-process__card-image" />
			</li>
			<li class="Ronin-process__card">
				<p class="Ronin-process__card-text">
					7 дней бесплатного хранения<br />
					ваших товаров на терминалах<br />
					Скиф-Логистик
				</p>
				<img src="../assets/images/delivery3.png" alt="" class="Ronin-process__card-image" />
			</li>
		</ul>
	</div>
</section>
