<section class="Ronin-sale">
	<div class="Ronin-container">
		<div class="Ronin-sale-wrapper">
			<img src="../assets/images/sale.png" alt="" class="Ronin-sale__image" />
			<div class="Ronin-sale__content">
				<h2 class="Ronin-sale__content-title">Снизили цены на дополнительные услуги:</h2>
				<ul class="Ronin-sale__content-sales">
					<li class="Ronin-sale__content-sale">
						<p class="Ronin-sale__content-sale-name">Палетирование</p>
						<div class="Ronin-sale__content-priceContainer">
							<p class="Ronin-sale__content-priceContainer-price">250₽</p>
							<img src="../assets/images/ticket.png" alt="" class="Ronin-sale__content-priceContainer-ticket" />
							<p class="Ronin-sale__content-priceContainer-sale">160₽</p>
						</div>
					</li>
					<li class="Ronin-sale__content-sale">
						<p class="Ronin-sale__content-sale-name">Предоставление палета</p>
						<div class="Ronin-sale__content-priceContainer">
							<p class="Ronin-sale__content-priceContainer-price">800₽</p>
							<img src="../assets/images/ticket.png" alt="" class="Ronin-sale__content-priceContainer-ticket" />
							<p class="Ronin-sale__content-priceContainer-sale">450₽</p>
						</div>
					</li>
					<li class="Ronin-sale__content-sale">
						<p class="Ronin-sale__content-sale-name">Оклейка штрих-кодом</p>
						<div class="Ronin-sale__content-priceContainer">
							<p class="Ronin-sale__content-priceContainer-price">12₽</p>
							<img src="../assets/images/ticket.png" alt="" class="Ronin-sale__content-priceContainer-ticket" />
							<p class="Ronin-sale__content-priceContainer-sale">10₽</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</section>
