<section class="Ronin-whoUse">
	<div class="Ronin-container">
		<h2 class="Ronin-whoUse__title">Кому подходит доставка до маркетплейсов?</h2>
		<ul class="Ronin-whoUse__list">
			<li class="Ronin-whoUse__item">
				<img src="../assets/images/Group 21.png" alt="" class="Ronin-whoUse__item-image" />
				<p class="Ronin-whoUse__item-text">Селлерам маркетплейсов</p>
			</li>
			<li class="Ronin-whoUse__item">
				<img src="../assets/images/Group 18.png" alt="" class="Ronin-whoUse__item-image" />
				<p class="Ronin-whoUse__item-text">Интернет-магазинам</p>
			</li>
			<li class="Ronin-whoUse__item">
				<img src="../assets/images/Group 23.png" alt="" class="Ronin-whoUse__item-image" />
				<p class="Ronin-whoUse__item-text">Производителям товаров</p>
			</li>
		</ul>
	</div>
</section>
